.privacy {

    &__wrap {
        padding: 7rem 12rem;
        background: #fff;
        margin-top: 1.5rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $bp-1000){
            padding: 7rem 0;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        } 

        @media only screen and (max-width: $bp-700){
            width: 95%;
        }
    }

    &__heading {
        text-align: center;
        margin-bottom: 3rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            color: #777;
            letter-spacing: 1px;
        }
    }


    &__content {
        padding: 0 10rem;

        @media only screen and (max-width: $bp-800){
            padding: 0 5rem;
        }

        @media only screen and (max-width: $bp-700){
            padding: 0 1.5rem;
        }

        h2 {
            margin-bottom: .7rem;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.7;
            color: #212529;
            font-weight: 400;
        }
    }
}